<%- include('../layout/header') %>

<style>

.card{
	border-radius: 20px;
}

.card img{
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

.card button{
	border-radius: 30px;
	padding: 8px 20px;
	font-weight: 500;
}

.card button i{
	margin-right: 5px;
}

</style>

<div class="container my-5">
	<div class="row">
		<div class="col-md-4 mx-auto">
			<div class="card shadow">
				<img class="card-img-top mb-2" src="https://media.istockphoto.com/id/1303206642/photo/headshot-portrait-of-smiling-caucasian-businessman-in-glasses.jpg?s=612x612&w=0&k=20&c=MO-eErmbhUFi9XkpZFixeKYfX7mmeEpKrAUYUDQGT68=" alt="Title">
				<div class="card-body text-center">
					<h2 class="card-title">Umer Meher</h2>
					<p class="card-text mb-4">~ Android Developer</p>
					<button class="btn btn-primary mb-2">
						<i class="bi bi-power"></i> Logout
					</button>
				</div>
			</div>
		</div>
	</div>
</div>

<%- include('../layout/footer') %>